# question 1 
Consider the following Python module:
a = 0
def b():
global a
a = c(a)
def c(a):
return a + 2
After importing the module into the interpreter, you execute:

In [1]:
a = 0
def b():
    global a

    a = c(a)
def c(a):
    return a + 2

In [2]:
b()

In [3]:
b()

In [4]:
b()

In [5]:
a

6

explaination:
initially a=0 when we call finction b()
in first line of function global keywod use for change the value of a global variable inside a function
and second line assign value of a= return value of function c(a)
first time calling function b() value of a= a+2 , a=0+2
second time : a=a+2 , a=2+2=4
third time: a=a+2 , a=4+2 = 6
that's why it return 6 when we run variable a

# question 2 
Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

In [8]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print("File "+file_name+" not found.")

In [9]:
file_length('midterm.py')

396

In [10]:
file_length('idterm.py')

File idterm.py not found.

# question 3

Write a class named Marsupial that can be used as shown below:

In [11]:
class Marsupial:
    list =[]
    def __init__(self):
        self = []
    def put_in_pouch(self,things):
        if things not in self.list:
            self.list.append(things)
        else:
            return
    def pouch_contents(self):
        return (self.list)

In [12]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [13]:
class  Kangaroo(Marsupial):
    def __init__(self, x1=0, y1=0):
        self.x= x1
        self.y= y1
        
    def setxy(self,x1,y1):
        self.x = x1
        self.y= y1
    
    def get(self):
        return(self.x, self.y)
    def jump(self, dx , dy):
        self.x=self.x+dx
        self.y=self.y+dy
    def __str__(self):
        return(f'I am a kangaroo at coordinate {self.x,self.y}')

In [14]:
k = Kangaroo(0,0)

In [15]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a kangaroo at coordinate (3, 0)

   # question 4

Write a class named Marsupial that can be used as shown below:

In [8]:
def collartz(x):
    #x= input("enter any numner")
    if x==1:
        print(1)
    while(x!=1):
        if x%2 == 0:
            x=x/2
            print(x)
        else:
            x=x*3+1
            print(x)

In [9]:
collartz(10)

5.0
16.0
8.0
4.0
2.0
1.0

# question 5

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [16]:
def binary(x):
    if x == 0:
        return 0
    else:
        return (x % 2 + 10 * binary(int(x // 2)))


print(binary(10))

1010

In [17]:
binary(1)

1

In [18]:
binary(3)

11

In [19]:
binary(9)

1001

# question 6
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

In [20]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    b1 = False
    b2 = False
    def handle_starttag(self, tag, attrs):
        if tag == 'h1':
            self.b1 = True
        if tag == 'h2':
            self.b2 = True
            
    def handle_data(self, data):
        if self.b1:
            print(data)
        if self.b2:
            print('\t'+data)
      
    def handle_endtag(self, tag):
         self.b1= False
         self.b2= False

In [21]:
infile = open('w3c.html')

In [22]:
content = infile.read()

In [23]:
infile.close()

In [24]:
hp = HeadingParser()

In [25]:
hp.feed(content)

W3C Mission
	Principles

# question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

In [5]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class Collector(HTMLParser):
    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []    
    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': 
                        self.links.append(absolute)        
    def getLinks(self):
        return self.links

def webdir(url, depth, indent):
    
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urllist = collector.getLinks()  
    d= depth
    i = indent
    
    print("\t"*indent+"{}".format(url))
    for url in urllist:        
        if (d>0):
            webdir(url,d,i+1)  
        else:
            return
        d = d-1
        
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/test1.html
	http://reed.cs.depaul.edu/lperkovic/test2.html
		http://reed.cs.depaul.edu/lperkovic/test4.html
	http://reed.cs.depaul.edu/lperkovic/test3.html
		http://reed.cs.depaul.edu/lperkovic/test4.html

# question 8 

Write SQL queries on the below database table that return:

In [14]:
import sqlite3
con = sqlite3.connect('weather_city_data.db')
cur = con.cursor()

cur.execute("CREATE TABLE Wedata (City text, Country text, Season text, Temp_in_c double, rainfall_in_mm double)")
cur.execute("INSERT INTO Wedata VALUES ('Mumbai','India','Winter',24.8,5.9),('Mumbai','India','Spring',28.4,16.2),('Mumbai','India','Summer',27.9,1549.4),('Mumbai','India ','Fall',27.6,346),('London','United Kingdom','Winter',4.2,207.7),('London','United Kingdom','Spring',8.3,169.6),('London','United Kingdom','Summer',15.7,157),('London','United Kingdom','Fall',10.4,218.5),('Cairo','Egypt','Winter',13.6,16.5),('Cairo','Egypt','Spring',20.7,6.5),('Cairo','Egypt','Summer',27.7,0.1),('Cairo','Egypt','Fall',22.2,4.5)")

con.commit()

In [4]:
# a) All the temperature data.
cur.execute('SELECT * FROM Wedata')
print(cur.fetchall())

[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India ', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Winter', 4.2, 207.7), ('London', 'United Kingdom', 'Spring', 8.3, 169.6), ('London', 'United Kingdom', 'Summer', 15.7, 157.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [5]:
# a) All the temperature data.
cur.execute('SELECT Temp_in_c FROM Wedata')
print(cur.fetchall())

[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

In [6]:
# b) All the cities, but without repetition.
cur.execute('SELECT DISTINCT City FROM Wedata ')
print(cur.fetchall())

[('Mumbai',), ('London',), ('Cairo',)]

In [7]:
# c) cur.execute('SELECT * FROM Wedata WHERE Country=India')
cur.execute('SELECT * FROM Wedata WHERE Country="India"')
print(cur.fetchall())

[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4)]

In [8]:
# d) All the Fall records
cur.execute('SELECT * FROM Wedata WHERE Season="Fall"')
print(cur.fetchall())

[('Mumbai', 'India ', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [9]:
# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
cur.execute('SELECT City,Country,Season FROM Wedata WHERE "rainfall_in_mm" BETWEEN 200 AND 400')
print(cur.fetchall())

[('Mumbai', 'India ', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('London', 'United Kingdom', 'Fall')]

In [10]:
# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

cur.execute('SELECT City,Country FROM Wedata WHERE Season="Fall" AND Temp_in_c > 20 ORDER BY Temp_in_c ')
print(cur.fetchall())

[('Cairo', 'Egypt'), ('Mumbai', 'India ')]

In [11]:
# g) The total annual rainfall for Cairo.
cur.execute('SELECT SUM(rainfall_in_mm) FROM Wedata WHERE City="Cairo"')
print(cur.fetchall())

[(27.6,)]

In [15]:
# h) The total rainfall for each season.
cur.execute('SELECT Season,SUM(rainfall_in_mm) FROM Wedata GROUP BY Season')
print(cur.fetchall())

[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

# question 9

Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following lists:

In [16]:
# a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [17]:
wordsu = [element.upper() for element in words]
print(wordsu)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [18]:
# b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
wordsl = [element.lower() for element in words]
print(wordsl)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [22]:
# c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).
wordslen = [len(word) for word in words]
print(wordslen)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [24]:
# d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)
newwords = [[word.upper(),word.lower(),len(word)] for word in words]
print(newwords)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [25]:
# e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)
twords=[word for word in words if len(word)>3]
print(twords)

['quick', 'brown', 'jumps', 'over', 'lazy']